@import "@/variables";

.service-page {
    padding-block-start: $header-block-size;

    .intro-section {
        position: relative;
        background-image: url("/images/bg-concrete.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        isolation: isolate;

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            opacity: 0.5;
            background-color: $color-black-dark;
            z-index: -1;
        }

        > .section-container {
            inline-size: min($max-size, 100%);
            padding-inline: min(5rem, 5%);
            margin-inline: auto;
            padding-block: 10rem;

            .flex-grid {
                display: flex;
                flex-direction: column;
                row-gap: 5rem;

                .title {
                    color: $color-white-dark;
                    font-size: 8rem;
                    font-weight: $weight-bold;

                    @media (max-width: 768px) {
                        font-size: 5rem;
                    }

                    @media (max-width: 425px) {
                        font-size: 4rem;
                    }
                }

                .text {
                    color: $color-white-dark;
                    font-size: 3rem;

                    @media (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
