$color-black-dark: #000000;
$color-black-light: #4a4a4a;
$color-white-light: #ffffff;
$color-white-dark: #f5f5f5;
$color-blue-main: hsl(213, 60%, 30%);
$color-blue-main-2: hsl(213, 60%, 60%);

// $color-gradient-blue: linear-gradient(to bottom right, #5fa8d3, #add8e6);
$color-gradient-blue: linear-gradient(to bottom right, $color-blue-main, $color-blue-main-2);

$weight-light: 200;
$weight-normal: 400;
$weight-bold: 600;
$weight-bolder: 800;

$header-block-size: 10rem;

$max-size: 2000px;
