$color-black-dark: #000000;
$color-black-light: #4a4a4a;
$color-white-light: #ffffff;
$color-white-dark: #f5f5f5;
$color-blue-main: #1f497d;
$color-blue-main-2: #2fadff;

// $color-gradient-blue: linear-gradient(to bottom right, $color-blue-main, $color-blue-main-2);
$color-gradient-blue: linear-gradient(to right bottom, #1f497d, #27609c, #2d79bc, #3092dd, #2fadff);

$weight-light: 200;
$weight-normal: 400;
$weight-bold: 600;
$weight-bolder: 800;

$header-block-size: 10rem;

$max-size: 2000px;
