@import "@/assets/variables";

.shop-totalstationen-leica-totalstationen-page {
    padding-block-start: $header-block-size;

    .intro-section {
        isolation: isolate;
        background-color: $color-black-dark;

        > .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;

            .flex-grid {
                display: flex;
                flex-direction: column;
                row-gap: 5rem;

                .title {
                    color: $color-white-dark;
                    font-size: 8rem;
                    font-weight: $weight-bold;

                    @media (max-width: 768px) {
                        font-size: 5rem;
                    }

                    @media (max-width: 425px) {
                        font-size: 4rem;
                    }
                }

                .text {
                    color: $color-white-dark;
                    font-size: 3rem;

                    @media (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .catalogue-section {
        isolation: isolate;
        background-color: $color-white-dark;

        > .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;

            @media (max-width: 1024px) {
                padding-block-start: 5rem;
            }

            .flex-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "a b b b";
                column-gap: 5rem;
                row-gap: 5rem;

                @media (max-width: 1024px) {
                    grid-template-areas:
                        "a a a a"
                        "b b b b";
                }
            }
        }
    }
}
