@import "@/assets/variables";

.theis-laser-shop-page {
    padding-block-start: $header-block-size;
    background-color: $color-white-dark;

    .intro-section {
        padding-inline: min(5rem, 5%);
        padding-block-start: 10rem;
        isolation: isolate;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10rem;

                > .title-box {
                    display: flex;

                    .title {
                        font-size: 7rem;
                        font-weight: $weight-bold;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 5rem;
                        }
                    }
                }

                > .description-box {
                    display: flex;

                    .description {
                        font-size: 2.5rem;

                        @media (max-width: 768px) {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    .catalogue-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 3rem;

                > .indicator-box {
                    position: sticky;
                    inset-block-start: calc($header-block-size - 1px);
                    display: flex;
                    flex-direction: column;
                    padding-block: 2rem;

                    &::before {
                        position: absolute;
                        content: "";
                        inset-inline: -1rem;
                        inset-block: 0;
                        background-color: $color-white-dark;
                        z-index: -1;
                    }

                    .title-box {
                        display: flex;

                        .title {
                            font-size: 5rem;
                            font-weight: $weight-bold;

                            @media (max-width: 768px) {
                                font-size: 4rem;
                            }

                            @media (max-width: 425px) {
                                font-size: 3rem;
                            }
                        }
                    }

                    .nav-box {
                        display: flex;
                        align-items: center;
                        column-gap: min(2rem, 2%);

                        .link {
                            color: $color-blue-main;
                            font-size: 2rem;
                        }

                        .arrow {
                            font-size: 2rem;
                        }
                    }
                }

                > .sub-flex-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
                    column-gap: min(5rem, 5%);
                    row-gap: 5rem;

                    .product {
                        inline-size: 100%;
                        aspect-ratio: 1;
                        border-radius: 1rem;
                        outline: 0.5rem solid $color-black-light;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .title {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
