@import "@/assets/variables";

.dienstleistungen-page {
    padding-block-start: $header-block-size;
    background-color: $color-white-dark;

    .intro-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;
        background-color: $color-black-dark;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: flex;
                flex-direction: column;
                row-gap: 5rem;

                > .title-box {
                    display: flex;

                    .title {
                        color: $color-white-dark;
                        font-size: 7rem;
                        font-weight: $weight-bold;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 5rem;
                        }
                    }
                }

                > .description-box {
                    display: flex;

                    .description {
                        color: $color-white-dark;
                        font-size: 2.5rem;

                        @media (max-width: 768px) {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    .consulting-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 5rem;

                > .title-box {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    overflow-x: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        inset-inline: 0;
                        inset-block-start: 50%;
                        transform: translateY(-50%);
                        block-size: 1rem;
                        border-radius: 3rem;
                        background-color: $color-black-light;
                        z-index: -2;
                    }

                    .title {
                        position: relative;
                        color: transparent;
                        font-size: 8rem;
                        font-weight: $weight-bold;
                        background-image: $color-gradient-blue;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 4rem;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            inset-inline: min(-5rem, -10%);
                            inset-block: 0;
                            background-color: $color-white-dark;
                            z-index: -1;
                        }
                    }
                }

                > .sub-flex-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "h i"
                        "p i";
                    row-gap: 5rem;
                    // padding-inline: min(5rem, 5%);
                    // padding-block: 5rem;
                    // border-radius: 1rem;
                    // outline: 0.5rem solid $color-black-light;
                    // background-color: $color-white-light;

                    @media (max-width: 1024px) {
                        grid-template-areas:
                            "h h"
                            "i i"
                            "p p";
                    }

                    > .title-box {
                        grid-area: h;
                        display: flex;
                        align-items: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                            text-align: center;
                        }

                        .title {
                            font-size: 3rem;
                            font-weight: $weight-bold;
                        }
                    }

                    > .description-box {
                        grid-area: p;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        row-gap: 5rem;

                        .description {
                            font-size: 2rem;
                        }

                        .link {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                            padding-block: 0.5rem;
                            border-radius: 3rem;
                            outline: 0.3rem solid $color-black-light;
                            outline-offset: 0.3rem;
                            background-image: $color-gradient-blue;
                            transition-property: outline-offset;
                            transition-timing-function: ease-in-out;
                            transition-duration: 200ms;

                            &:hover {
                                outline-offset: 0;
                            }
                        }
                    }

                    > .image-box {
                        grid-area: i;
                        display: flex;
                        justify-content: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                        }

                        .image-holder {
                            display: flex;
                            position: relative;
                            inline-size: 80%;
                            aspect-ratio: 16 / 9;
                            border-radius: 1rem;
                            border: 1px solid $color-black-light;

                            // @media (max-width: 1024px) {
                            //     inline-size: 80%;
                            // }
                        }
                    }
                }
            }
        }
    }

    .rent-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;
        background-color: $color-white-light;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 5rem;

                > .title-box {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    overflow-x: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        inset-inline: 0;
                        inset-block-start: 50%;
                        transform: translateY(-50%);
                        block-size: 1rem;
                        border-radius: 3rem;
                        background-color: $color-black-light;
                        z-index: -2;
                    }

                    .title {
                        position: relative;
                        color: transparent;
                        font-size: 8rem;
                        font-weight: $weight-bold;
                        background-image: $color-gradient-blue;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 4rem;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            inset-inline: min(-5rem, -10%);
                            inset-block: 0;
                            background-color: $color-white-light;
                            z-index: -1;
                        }
                    }
                }

                > .sub-flex-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "i h"
                        "i p";
                    row-gap: 5rem;
                    // padding-inline: min(5rem, 5%);
                    // padding-block: 5rem;
                    // border-radius: 1rem;
                    // outline: 0.5rem solid $color-black-light;
                    // background-color: $color-white-light;

                    @media (max-width: 1024px) {
                        grid-template-areas:
                            "h h"
                            "i i"
                            "p p";
                    }

                    > .title-box {
                        grid-area: h;
                        display: flex;
                        align-items: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                            text-align: center;
                        }

                        .title {
                            font-size: 3rem;
                            font-weight: $weight-bold;
                        }
                    }

                    > .description-box {
                        grid-area: p;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        row-gap: 5rem;

                        .description {
                            font-size: 2rem;
                        }

                        .link {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                            padding-block: 0.5rem;
                            border-radius: 3rem;
                            outline: 0.3rem solid $color-black-light;
                            outline-offset: 0.3rem;
                            background-image: $color-gradient-blue;
                            transition-property: outline-offset;
                            transition-timing-function: ease-in-out;
                            transition-duration: 200ms;

                            &:hover {
                                outline-offset: 0;
                            }
                        }
                    }

                    > .image-box {
                        grid-area: i;
                        display: flex;
                        justify-content: flex-start;

                        @media (max-width: 1024px) {
                            justify-content: center;
                        }

                        .image-holder {
                            display: flex;
                            position: relative;
                            inline-size: 80%;
                            aspect-ratio: 16 / 9;
                            border-radius: 1rem;
                            border: 1px solid $color-black-light;

                            // @media (max-width: 1024px) {
                            //     inline-size: 80%;
                            // }
                        }
                    }
                }
            }
        }
    }

    .sell-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 5rem;

                > .title-box {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    overflow-x: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        inset-inline: 0;
                        inset-block-start: 50%;
                        transform: translateY(-50%);
                        block-size: 1rem;
                        border-radius: 3rem;
                        background-color: $color-black-light;
                        z-index: -2;
                    }

                    .title {
                        position: relative;
                        color: transparent;
                        font-size: 8rem;
                        font-weight: $weight-bold;
                        background-image: $color-gradient-blue;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 4rem;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            inset-inline: min(-5rem, -10%);
                            inset-block: 0;
                            background-color: $color-white-dark;
                            z-index: -1;
                        }
                    }
                }

                > .sub-flex-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "h i"
                        "p i";
                    row-gap: 5rem;
                    // padding-inline: min(5rem, 5%);
                    // padding-block: 5rem;
                    // border-radius: 1rem;
                    // outline: 0.5rem solid $color-black-light;
                    // background-color: $color-white-light;

                    @media (max-width: 1024px) {
                        grid-template-areas:
                            "h h"
                            "i i"
                            "p p";
                    }

                    > .title-box {
                        grid-area: h;
                        display: flex;
                        align-items: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                            text-align: center;
                        }

                        .title {
                            font-size: 3rem;
                            font-weight: $weight-bold;
                        }
                    }

                    > .description-box {
                        grid-area: p;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        row-gap: 5rem;

                        .description {
                            font-size: 2rem;
                        }

                        .link {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                            padding-block: 0.5rem;
                            border-radius: 3rem;
                            outline: 0.3rem solid $color-black-light;
                            outline-offset: 0.3rem;
                            background-image: $color-gradient-blue;
                            transition-property: outline-offset;
                            transition-timing-function: ease-in-out;
                            transition-duration: 200ms;

                            &:hover {
                                outline-offset: 0;
                            }
                        }
                    }

                    > .image-box {
                        grid-area: i;
                        display: flex;
                        justify-content: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                        }

                        .image-holder {
                            display: flex;
                            position: relative;
                            inline-size: 80%;
                            aspect-ratio: 16 / 9;
                            border-radius: 1rem;
                            border: 1px solid $color-black-light;

                            // @media (max-width: 1024px) {
                            //     inline-size: 80%;
                            // }
                        }
                    }
                }
            }
        }
    }

    .service-section {
        padding-inline: min(5rem, 5%);
        padding-block: 10rem;
        isolation: isolate;
        background-color: $color-white-light;

        .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;

            > .flex-grid {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 5rem;

                > .title-box {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    overflow-x: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        inset-inline: 0;
                        inset-block-start: 50%;
                        transform: translateY(-50%);
                        block-size: 1rem;
                        border-radius: 3rem;
                        background-color: $color-black-light;
                        z-index: -2;
                    }

                    .title {
                        position: relative;
                        color: transparent;
                        font-size: 8rem;
                        font-weight: $weight-bold;
                        background-image: $color-gradient-blue;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @media (max-width: 768px) {
                            font-size: 6rem;
                        }

                        @media (max-width: 425px) {
                            font-size: 4rem;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            inset-inline: min(-5rem, -10%);
                            inset-block: 0;
                            background-color: $color-white-light;
                            z-index: -1;
                        }
                    }
                }

                > .sub-flex-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "i h"
                        "i p";
                    row-gap: 5rem;
                    // padding-inline: min(5rem, 5%);
                    // padding-block: 5rem;
                    // border-radius: 1rem;
                    // outline: 0.5rem solid $color-black-light;
                    // background-color: $color-white-light;

                    @media (max-width: 1024px) {
                        grid-template-areas:
                            "h h"
                            "i i"
                            "p p";
                    }

                    > .title-box {
                        grid-area: h;
                        display: flex;
                        align-items: flex-end;

                        @media (max-width: 1024px) {
                            justify-content: center;
                            text-align: center;
                        }

                        .title {
                            font-size: 3rem;
                            font-weight: $weight-bold;
                        }
                    }

                    > .description-box {
                        grid-area: p;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        row-gap: 5rem;

                        .description {
                            font-size: 2rem;
                        }

                        .link {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                            padding-block: 0.5rem;
                            border-radius: 3rem;
                            outline: 0.3rem solid $color-black-light;
                            outline-offset: 0.3rem;
                            background-image: $color-gradient-blue;
                            transition-property: outline-offset;
                            transition-timing-function: ease-in-out;
                            transition-duration: 200ms;

                            &:hover {
                                outline-offset: 0;
                            }
                        }
                    }

                    > .image-box {
                        grid-area: i;
                        display: flex;
                        justify-content: flex-start;

                        @media (max-width: 1024px) {
                            justify-content: center;
                        }

                        .image-holder {
                            display: flex;
                            position: relative;
                            inline-size: 80%;
                            aspect-ratio: 16 / 9;
                            border-radius: 1rem;
                            border: 1px solid $color-black-light;

                            // @media (max-width: 1024px) {
                            //     inline-size: 80%;
                            // }
                        }
                    }
                }
            }
        }
    }
}
