$color-black-dark: hsl(0, 0%, 0%);
$color-black-light: hsl(0, 0%, 29%);
$color-white-light: hsl(0, 0%, 100%);
$color-white-dark: hsl(0, 0%, 96%);
$color-blue-main: blue;

$color-gradient-blue: linear-gradient(to bottom right, #5fa8d3, #add8e6);

$weight-light: 200;
$weight-normal: 400;
$weight-bold: 600;
$weight-bolder: 800;

$header-block-size: 10rem;

$max-size: 2000px;
