@import "@/assets/variables";

.shop-page {
    padding-block-start: $header-block-size;

    .intro-section {
        isolation: isolate;
        background-color: $color-black-dark;

        > .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;

            .flex-grid {
                display: flex;
                flex-direction: column;
                row-gap: 5rem;

                .title {
                    color: $color-white-dark;
                    font-size: 8rem;
                    font-weight: $weight-bold;

                    @media (max-width: 768px) {
                        font-size: 5rem;
                    }

                    @media (max-width: 425px) {
                        font-size: 4rem;
                    }
                }

                .text {
                    color: $color-white-dark;
                    font-size: 3rem;

                    @media (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .catalogue-section {
        isolation: isolate;
        background-color: $color-white-dark;

        > .section-container {
            inline-size: min($max-size, 100%);
            margin-inline: auto;
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;

            @media (max-width: 1024px) {
                padding-block-start: 5rem;
            }

            .flex-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "a b b b";
                column-gap: 5rem;
                row-gap: 5rem;

                @media (max-width: 1024px) {
                    grid-template-areas:
                        "a a a a"
                        "b b b b";
                }

                .nav-box {
                    grid-area: a;
                    position: sticky;
                    inset-block-start: calc($header-block-size + 10rem);
                    display: flex;
                    flex-direction: column;
                    row-gap: 5rem;
                    block-size: fit-content;

                    @media (max-width: 1024px) {
                        inset-block-start: $header-block-size;
                        padding-block-start: 5rem;
                        background-color: $color-white-dark;
                    }

                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 3rem;
                        font-weight: $weight-bold;
                        pointer-events: none;

                        @media (max-width: 1024px) {
                            cursor: pointer;
                            pointer-events: initial;
                        }

                        .arrow {
                            display: none;

                            @media (max-width: 1024px) {
                                display: initial;

                                &.active {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }

                    .navigation {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.5rem;
                        background-color: $color-white-dark;

                        @media (max-width: 1024px) {
                            block-size: 0;
                            overflow-y: hidden;

                            &.active {
                                block-size: initial;
                                padding-block-end: 5rem;
                                overflow-y: auto;
                                overscroll-behavior-block: contain;
                            }
                        }

                        .link {
                            color: $color-black-light;
                            font-size: 2rem;
                            inline-size: fit-content;
                            padding-inline: 1rem;
                            padding-block: 0.5rem;
                            border-radius: 1rem;
                            transition-property: background-color;
                            transition-timing-function: ease-in-out;
                            transition-duration: 200ms;

                            &:hover {
                                background-color: $color-white-light;
                            }
                        }
                    }
                }

                .products-box {
                    grid-area: b;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
                    column-gap: 5rem;
                    row-gap: 5rem;

                    .product {
                        inline-size: 100%;
                        aspect-ratio: calc(1);
                        border-radius: 1rem;
                        border: 0.5rem solid $color-black-light;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .title {
                            color: $color-black-light;
                            font-size: 2rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
