@import "@/variables";

.service-page {
    padding-block-start: $header-block-size;

    .intro-section {
        position: relative;
        background-image: url("/images/bg-concrete.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        isolation: isolate;

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            opacity: 0.5;
            background-color: $color-black-dark;
            z-index: -1;
        }

        .section-container {
            inline-size: min($max-size, 100%);
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;
            margin-inline: auto;

            .flex-grid {
                display: flex;
                flex-direction: column;
                row-gap: 5rem;

                .title {
                    color: $color-white-dark;
                    font-size: 8rem;
                    font-weight: $weight-bold;

                    @media (max-width: 768px) {
                        font-size: 5rem;
                    }

                    @media (max-width: 425px) {
                        font-size: 4rem;
                    }
                }

                .text {
                    color: $color-white-dark;
                    font-size: 3rem;

                    @media (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .workshop-about-section {
        .section-container {
            inline-size: min($max-size, 100%);
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;
            margin-inline: auto;

            > .title {
                color: transparent;
                font-size: 5rem;
                font-weight: $weight-bold;
                text-align: center;
                inline-size: fit-content;
                margin-inline: auto;
                margin-block-end: 5rem;
                background-image: $color-gradient-blue;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            > .image-holder {
                position: relative;
                display: flex;
                aspect-ratio: calc(3 / 1);
                border-radius: 1rem;
                border: 0.5rem solid $color-black-light;
                margin-block-end: 5rem;
                overflow: hidden;

                .image {
                    position: absolute;
                    inline-size: 100%;
                    block-size: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .flex-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 5rem;

                .image-box {
                    display: flex;

                    .image-holder {
                        position: relative;
                        display: flex;
                        inline-size: 100%;
                        aspect-ratio: calc(16 / 9);
                        border-radius: 1rem;
                        border: 0.5rem solid $color-black-light;
                        overflow: hidden;

                        .image {
                            position: absolute;
                            inline-size: 100%;
                            block-size: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }

                .text-box {
                    display: flex;
                    align-items: center;

                    .text {
                        font-size: 2rem;

                        .bold {
                            font-weight: $weight-bold;
                        }
                    }
                }
            }
        }
    }

    .workshop-service-section {
        background-color: $color-white-light;

        .section-container {
            inline-size: min($max-size, 100%);
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;
            margin-inline: auto;

            .flex-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 5rem;

                .list-box {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5rem;

                    .list-group {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2rem;

                        .title {
                            font-size: 3rem;
                            font-weight: $weight-bold;
                            text-decoration: underline;
                        }

                        .list {
                            list-style-position: inside;

                            .list-item {
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .image-box {
                    display: flex;

                    .image-holder {
                        position: relative;
                        display: flex;
                        inline-size: 100%;
                        aspect-ratio: calc(16 / 9);
                        border-radius: 1rem;
                        border: 0.5rem solid $color-black-light;
                        overflow: hidden;

                        .image {
                            position: absolute;
                            inline-size: 100%;
                            block-size: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }

    .workshop-info-section {
        .section-container {
            inline-size: min($max-size, 100%);
            padding-inline: min(5rem, 5%);
            padding-block: 10rem;
            margin-inline: auto;

            .flex-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 15rem;

                .price-box {
                    display: flex;
                    flex-direction: column;

                    .price-list {
                        list-style: none;
                        display: flex;
                        justify-content: space-between;

                        .price-item {
                            font-size: 2rem;
                            font-weight: $weight-bold;
                        }
                    }
                }

                .text-box {
                    .text {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
